<template name="connection_status">
  <div id="connection_status">
  
    ROSBridge Connection Status: 
    
    <span id="connecting" class="wip {{#unless equals status 'connecting'}}invisible{{/unless}}">
      Connecting ...
    </span>
    
    <span id="connected" class="succeed {{#unless equals status 'connected'}}invisible{{/unless}}">
      Connected.
    </span>
    
    <span id="error" class="error {{#unless equals status 'error'}}invisible{{/unless}}">
      Failed.
    </span>
    
    <span id="closed" class="{{#unless equals status 'closed'}}invisible{{/unless}}">
      Closed.
      
      <p> Please execute the following commands in a commnand-line terminal and then refresh this page. 
        <ol>
          <li><tt>roslaunch ekumenchallenge painter_turtles_websocket.launch</tt></li>
        </ol>
        For further information check the JavaScript console.
      </p>
    </span>
    <br>
    <br>
  </div>
</template>


<template name="canvas">
  <div id="canvas"></div>
</template>


<template name="rosproxy">
  <div id="rosproxy"></div>
</template>
