/* CSS declarations go here */

.invisible
{
	display: none;
}

.wip
{
	color: #0000D6;
}

.succeed
{
	color: #00D600;
}

.error
{
	color: #FF0000;
}

#connection_status
{
  width: 100%;
  height: 30%;
}

#canvas 
{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}